{% extends "site/base.html.twig" %}

{% block global_data %}
    {{ parent() }}
    <input type="hidden" id="header_mode" value="simple" />
{% endblock %}

{% block fullcontent %}
    <div class="content content-simple" id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}