{% extends "site/base.html.twig" %}

{% block global_data %}
    {{ parent() }}
    <input type="hidden" id="design" value="designed" />
{% endblock %}

{% block fullcontent %}
    <div class="headerimage">
        <img src="{{ asset('build/images/Header.jpg') }}"></img>
    </div>
    <div class="content" id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}