{% extends "site/base.html.twig" %}

{% block global_data %}
    {{ parent() }}
    <input type="hidden" id="design" value="home" />
{% endblock %}

{% block fullcontent %}
    <div class="homeimage">
        <img src="{{ asset('/build/images/Startseite.jpg') }}" />
        <div class="slider">
            <div class="preview">
                <div class="message">
                    {{ 'home.preview.welcome'|trans }}
                    <div class="underline"></div>
                </div>
            </div>
            <div class="start">
                <button id="scrollToContentButton">
                    {{ 'home.preview.start'|trans }}
                </button>
            </div>
        </div>
    </div>

    <div class="content" id="content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}