{% extends "site/base.html.twig" %}

{% block global_data %}
    {{ parent() }}
    <input type="hidden" id="header_mode" value="home" />
{% endblock %}

{% block fullcontent %}
    <div class="homeimage d-none d-md-block">
        <img src="/content/images/Startseite.jpg" />
        <div class="slider">
            <div class="preview">
                <div class="message text-center">
                    {{ 'home.preview.welcome'|trans }}
                    <div class="underline"></div>
                </div>
            </div>
            <div class="start">
                <button id="scrollToContentButton">
                    {{ 'home.preview.start'|trans }}
                </button>
            </div>
        </div>
    </div>
    <div class="headerimage d-block d-md-none">
        <img src="/content/images/Header.jpg" alt="HeaderImage" />
    </div>

    <div class="content content-centered" id="content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}