{% extends "site/base.html.twig" %}

{% block global_data %}
    {{ parent() }}
    <input type="hidden" id="header_mode" value="designed" />
{% endblock %}

{% block fullcontent %}
    <div class="headerimage">
        <img src="/content/images/Header.jpg" alt="HeaderImage" />
    </div>
    {% block designed_content %}
        <div class="content" id="content">
                {% block content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}