{% extends "site/base-simple.html.twig" %}

{% block content %}
    
    {% if app.environment == 'dev' %}
        <pre>
            {% if app.environment == 'dev' %}
                {% include 'macros/dump.html.twig' %}
            {% endif %}
        </pre>
    {% endif %}

    <div style="color:red">
        Ooops! Something went wrong!
    </div>

    {% block details %}
    {% endblock %}

{% endblock %}