{% extends "site/error.html.twig" %}

{% block details %}

    <div>
        Error 404: The searched site couldn't be found
    </div>

    Possible Solution:
    <div style="margin: 5px 0 0 10px;">
        {% block info %}
            Error template was not overriden. Can't give specific help.<br>
            {{ app.request.attributes.get('_template') }}
        {% endblock %}
    </div>

{% endblock %}