{% extends "site/base-simple.html.twig" %}

{% block content %}
    
    <a style="display: block" href="/admin/videoconfig">
        Zur Videoconfig
    </a>

    <a style="display: block" href="/admin/languageconfig">
        Zur Languageconfig
    </a>

{% endblock %}