{% extends 'site/base.html.twig' %}

{% block content %}

    {% if errors is defined %}
        {{ dump(errors) }}
    {% endif %}

    <form method="POST" name="register_form">

        <div class="form-group">
            <label for="email_input">Email</label>
            <input type="email" name="email_input" id="email_input" class="input" maxlength="4096" required autofocus>
        </div>

        <div class="form-group">
            <label for="password_input">Password</label>
            <input type="password" name="password_input" id="password_input" class="input" maxlength="4096" required>
        </div>

        <div class="g-recaptcha" data-sitekey="{{ captcha_website }}"></div>

        <button type="submit" class="submit">
            Registrieren
        </button>

    </form>    

{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('register') }}
{% endblock js %}
