{% extends "site/error404.html.twig" %}

{% block info %}
    <div>
        <div>
            Raw Email: {{ raw_email }}
        </div>
        <div>
            Email: {{ email }}
        </div>
    </div>
{% endblock %}