$design_light_bg: rgb(205, 205, 205);
$design_light_col: black;

.design-light {
    background-color: $design_light_bg !important;
    color: $design_light_col !important;

    .card {
        border-color: gray;
    }

    .fullcontent {
        .content {
            .calculator {
                .output {
                    border-color: grey;
                }
                .history {
                    border-color: grey;
                    .name {
                        color: grey;
                    }
                    .historyentrys {
                        .entry {
                            .inputsetter {
                                border-color: grey;
                            }
                        }
                    }
                }
            }
        }
    }
}