$design_white_bg: white;
$design_white_col: black;

.design-white {
    background-color: $design_white_bg !important;
    color: $design_white_col !important;

    .fullcontent {
        .content {
            .calculator {
                .output {
                    border-color: grey;
                }
                .history {
                    border-color: grey;
                    .name {
                        color: grey;
                    }
                    .historyentrys {
                        .entry {
                            .inputsetter {
                                border-color: grey;
                            }
                        }
                    }
                }
            }
        }
    }
}