{% extends "site/base-simple.html.twig" %}

{% block title %}
    Tools - MyMathematik
{% endblock %}

{% block content %}
    <div class="tools">
        <div class="tool">
            <i class="fas fa-calculator"></i>
            <a href="/tools/calculator">Taschenrechner</a>
        </div>
    </div>
{% endblock %}