body{
    margin: 0;
}
.header{
    background-color: black;
    opacity: 0.96;
    width: 100%;
}
.sticky{
    position: fixed;
}
.header .title{
    margin: 0;
    padding: 10px 0px 10px 50px;
    color: whitesmoke;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}
.header .classlinks{
    margin: 0;
    color: whitesmoke;
    float: right;
    padding: 19px 28px 0 0;
}