body{
    margin: 0;
}
.header{
    background-color: black;
    opacity: 0.96;
    width: 100%;
}
.sticky{
    position: fixed;
}
.header .title{
    margin: 0;
    padding: 10px 0px 10px 50px;
    font-size: 32px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
}
.header .classlinks{
    margin: 0;
    color: whitesmoke;
    float: right;
    padding: 19px 28px 0 0;
}
.header .classlinks a{
    padding-right: 15px;
    text-decoration: none;
    color: whitesmoke;
}
.video{
    margin-bottom: 40px;
}
.video video{
    padding: 0;
    width: 70%;
    border: 1px solid dimgrey;
}
.video .videotitle{
    color: dimgrey;
    padding-bottom: 8px;
}
.chapters{
    padding: 30px 0 0 30px;
}
.chapter h1, h2{
    margin: 0;
}
.chaptercontent{
    border-left: 1px solid lightgrey;
    padding: 10px 0 0 30px;
}
.nocontent{
    margin-bottom: 40px;
    font-style: italic;
    color: darkgray;
}