@import "../colors.scss";

.homeimage{
    height: 100vh;
    overflow: hidden;

    img{
        width: 100%;
    }

    .slider{
        position: absolute;
        top: 35%;
        width: 100%;

        .preview {
            .message {
                width: fit-content;
                font-size: 50px;
                color: whitesmoke;
                margin: 0 auto;
                font-weight: 500;
                text-shadow: 3px 3px 4px #777;
    
                .underline {
                    margin: 0 30px 0 30px;
                    border: 1px solid $mainColor;
                }
    
            }
        }

        .start {

            margin-top: 45px;

            button {
                width: fit-content;
                margin: 0 auto;
                display: block;

                color: whitesmoke;
                background-color: $mainColor;
                border: none;
                text-decoration: none;
                text-align: center;
                padding: 15px 56px;
                border-radius: 2px;
                outline-color: lighten($color: $mainColor, $amount: 20);
            }
        }

    }
}

.content{
    .home{

        .seperator {
            width: 100%;
            margin: 75px 5px;
            border-top: 1px solid lightgrey;
        }

        .welcome {
            color: rgb(55, 55, 55);
            font-size: 60px;
            margin-bottom: 25px;
            text-align: center;

            a{
                text-decoration: inherit;
                color: inherit;
            }
        }

        .info {
            color: rgb(75, 75, 75);
        }

        .vhgimage {
            padding: 50px 25px 0 25px;

            img{
                width: 100%;
            }
        }

        .sponsors {

            .thanks{
                font-size: 25px;
                margin: 10px 0;
                color: rgb(50, 50, 50);
            }

            .sponsorlist {
                margin: 25px 10px;

                .sponsor{
                    margin: 15px;
                    display: block;
                }
            }
        }
    }
}
