.forum {
    .title {
        margin-bottom: 35px;
    }
    .question {
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 15px;
        padding: 5px 20px;
        display: block;
        color: inherit;
        text-decoration: none;

        .logo {
            overflow: hidden;
            height: 55px;
            width: 55px;
            display: inline-block;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .details {
            display: inline-block;
            margin-left: 20px;

            .questiontitle {
                font-size: x-large;    
            }

            .user {
                font-size: small;
            }
        }

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }
}