@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all";

$main_color: rgb(214, 80, 80);
$control_color: rgb(35, 35, 35);

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.fixed-top {

    top: 0;
    position: fixed;
    width: 100%;
    z-index: 12345;

    @import "cookies";
    @import "header";

}

@import "footer";
@import "previewimage";

.fullcontent {

    .content {
        margin: 25px auto 80px auto;
        max-width: 900px;
        padding: 15px;
        position: relative;
        display: block;
        min-height: auto;

        @import "sites/home";
        @import "sites/videolist";
        @import "sites/languageconfig";
        @import "sites/videoconfig";
        @import "sites/account";
        @import "sites/register";
        @import "sites/login";
        @import "sites/calculator";
        @import "sites/videosite";
        @import "sites/forum.scss";
    }

    .content-simple-spacer {
        height: 100px;
    }

}

@import "designs/design-white";
@import "designs/design-light";
@import "designs/design-dark";
@import "designs/design-black";