@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all";

$mainColor: rgb(214, 80, 80);
$backgroundColor: rgb(25, 25, 25);
$border: 1px solid grey;

$themeDarkBackground: rgb(35, 35, 35);
$themeDarkColor: whitesmoke;

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.header {

    background-color: $backgroundColor;
    opacity: .96;
    width: 100%;
    z-index: 20;
    position: fixed;
    top: 0;
    padding: 0;
    box-shadow: 0 0 5px $backgroundColor;
    transition: ease-in-out 0.3s;

    .title {
        margin: 0;
        padding: 0px 50px;
        font-size: 37.4px;
        font-weight: 500;
        display: inline-block;
        text-decoration: none;
        color: whitesmoke;
    }

    .headerlinks{
        margin-left: 20px;
        color: whitesmoke;
        float: right;
        height: 100%;

        > * {
            display: inline-block;
        }

        .classlinks {

            a {
                padding: 1.25em 0;
                color: white;
                text-decoration: none;
                font-size: 16px;
                margin-right: 35px;
            }
        }

        .menu {
            cursor: pointer;
            $hoverColor: rgb(50, 50, 50);

            .menuheader{

                padding: 1.25em;

                &::before{
                    height: 100%;
                    width: 100%;
                    color: whitesmoke;
                    text-decoration: none;
                    font-size: 16px;
                }
            }

            .menucontent {
                position: absolute;
                display: none;
                z-index: 21;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                min-width: 275px;
                background-color: $hoverColor;
                right: 0;
                cursor: default;

                .menupart {
                    &:not(:first-child){
                        border-top: 1px solid lightgrey;
                        padding-top: 10px;
                        margin-top: 10px;
                    }

                    .menubutton {
                        padding: 15px;
                        display: block;
                        cursor: pointer;
                        text-decoration: none;
                        color: white;
                        width: 100%;

                        &:hover {
                            background-color: $mainColor;
                        }

                        .menu-icon {
                            width: 20px;
                            margin-right: 7px;
                        }

                    }

                    .switch-button {
                        .switch-header {
                            @extend .menubutton;
                        }
                        .switch-content {
                            height: 0;
                            overflow: hidden;
                            margin-left: 30px;
                            border-left: 1px solid grey;
                            padding-left: 15px;

                            .switch-content-button {
                                @extend .menubutton;

                                &:hover {
                                    background-color: inherit;
                                    color: $mainColor;
                                }
                            }
                        }

                        &:hover {
                            .switch-header {
                                background-color: $mainColor;
                            }
                        }

                        &:not(:hover) {
                            .switch-content {
                                height: 0;
                            }
                        }

                    }
                }
            }

            &:hover{
                background-color: $hoverColor;
    
                .menuheader{
                    color: $mainColor;
                }

                .menucontent{
                    display: block;
                }

            }

        }
    }
}

.header-transparent {
    background-color: transparent;
    box-shadow: unset;
    padding-top: 20px;

    .menu:hover {
        background-color: rgba($color: $backgroundColor, $alpha: .1) !important;

        .menucontent {
            background-color: rgba($color: $backgroundColor, $alpha: .1);
        }
    }
}

.footer {
    background-color: $backgroundColor;
    width: 100%;
    position: relative;
    bottom: 0;
    display: grid;

    .footercontent {
        margin: 20px 40px;

        .footerlinks {
            float: left;

            .footerlink {
                text-decoration: none;
                color: whitesmoke;
                margin: 10px 20px
            }
        }

        .goup{
            color: whitesmoke;
            text-decoration: none;
            float: right;
            cursor: pointer;
        }
    }
}

.cookies {
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;

    .cookiestext {
        margin: 40px 0 40px 50px;

        * {
            margin: 0 5px
        }
    }
}

.cookiesvisible {
    display: block
}

.headerimage {
    width: 100%;
    margin: 0;
    filter: brightness(35%);
    display: block;
    overflow: hidden;

    img{
        display: block;
        width: 100%;
        margin:-110px 0;
    }
}

.homeimage{
    height: 100vh;
    overflow: hidden;

    img{
        width: 100%;
    }

    .slider{
        position: absolute;
        top: 35%;
        width: 100%;

        .preview {
            .message {
                width: fit-content;
                font-size: 50px;
                color: whitesmoke;
                margin: 0 auto;
                font-weight: 500;
                text-shadow: 3px 3px 4px #777;
    
                .underline {
                    margin: 0 30px 0 30px;
                    border: 1px solid $mainColor;
                }
    
            }
        }

        .start {

            margin-top: 45px;

            button {
                width: fit-content;
                margin: 0 auto;
                display: block;

                color: whitesmoke;
                background-color: $mainColor;
                border: none;
                text-decoration: none;
                text-align: center;
                padding: 15px 56px;
                border-radius: 2px;
                outline-color: lighten($color: $mainColor, $amount: 20);
            }
        }

    }
}

.content {
    margin: 25px auto 80px auto;
    max-width: 900px;
    padding: 15px;
    position: relative;
    display: block;
    min-height: auto;

    .videos{
        .classname{
            margin: 0 0 50px;
            text-align: center;

            h1{
                font-size: 50px;
                color: #333;
                margin: 0 0 10px;
            }

            a{
                text-decoration: none;
                color: grey;
                font-size: 20px;

                i{
                    font-size: 15px;
                }
            }
        }

        .chapters {
            display: block;

            .chapter {
                padding: 0;
                display: block;
                
                .chapterheader {
                    padding: 7px;

                    &:hover{
                        background-color: lightgray;
                    }

                    .chaptertitle{
                        margin: 0;
                        display: inline;
                        font-size: 30px;
                    }

                    i{
                        float: right;
                        font-size: 31px;
                    }

                    .active{
                        transform: rotate(180deg);
                    }
                }
                
                .chaptercontent {
                    border-left: 1px solid lightgrey;
                    padding: 0 25px;
                    margin-left: 15px;
                    height: auto;
                    overflow: hidden;
                    display: none; 

                    .nocontent {
                        margin-bottom: 40px;
                        font-style: italic;
                        color: darkgray;
                    }

                    .video {
                        margin-bottom: 40px;

                        .videotitle {
                            color: dimgrey;
                            padding: 8px 0;
                        }

                        video {
                            padding: 0;
                            border: 1px solid dimgrey;
                            width: 100%;
                            max-width: 800px
                        }
                    }
                }
            }
        }        
    }

    .home{

        .seperator {
            width: 100%;
            margin: 75px 5px;
            border-top: 1px solid lightgrey;
        }

        .welcome {
            color: rgb(55, 55, 55);
            font-size: 60px;
            margin-bottom: 25px;
            text-align: center;

            a{
                text-decoration: inherit;
                color: inherit;
            }
        }

        .info {
            color: rgb(75, 75, 75);
        }

        .vhgimage {
            padding: 50px 25px 0 25px;

            img{
                width: 100%;
            }
        }

        .sponsors {

            .thanks{
                font-size: 25px;
                margin: 10px 0;
                color: rgb(50, 50, 50);
            }

            .sponsorlist {
                margin: 25px 10px;

                .sponsor{
                    margin: 15px;
                    display: block;
                }
            }
        }
    }

    .languageconfig{

        h1{
            margin-top: 50px;
            text-align: center;
        }
    
        .configfile{
    
            .configoptions{
                padding: 15px;

                button{
                    padding-right: 20px;
                }
            }
    
            .editor{
                width: 100%;
                height: 250px;
                resize: both;
                border: $border;
            }
        }

        .translations {
            padding: 25px;
            border: $border;

            .editor {
                height: 1250px;
            }
        }
    
        .option{
            margin: 5px;
            font-size: 15px;
            text-decoration: none;
            color: rgb(20, 20 , 20);
        }
    }

    .videoconfig{

        h1{
            margin-top: 50px;
            text-align: center;
        }
    
        .videofiles{
            border-bottom: $border;
            margin-bottom: 25px;
    
            .videofile{
    
                font-size: 15px;
                padding: 5px 25px;
                border: $border;
                border-bottom: unset;
                display: block;
    
                .videoname{
                    width: 80%;
                }
    
                .nameoptions{
                    display: none;
                }
    
                .videooptions{
                    float: right;
                }
            }
        }

        .videoUploadForm {
            border: $border;
            padding: 15px;
        }
    
        .configfile{
    
            .configoptions{
                padding: 15px;

                button{
                    padding-right: 20px;
                }
            }
    
            .editor{
                width: 100%;
                height: 2000px;
                resize: both;
                border: $border;
            }
        }
    
        .option{
            margin: 5px;
            font-size: 15px;
            text-decoration: none;
            color: rgb(20, 20 , 20);
        }
    }

    .account {
        a {
            display: block;
        }
    }

    .register {

        position: relative;
        display: inline-block;
        margin: 0 auto;

        .form{
            display: block;
            position: relative;
            width: 500px;
            z-index: unset;
            
            .title {
                h1 {
                    text-align: center;
                }
            }

            .group {
                margin: 20px 0;

                .form-group {

                    .show-password {
                        float: right;
                        margin: -26px 15px 0 5px;
                        cursor: pointer;
                    }

                    .error {
                        font-size: small;
                        color: rgb(200, 30, 30);
                    }
                }

            }

            .input_label{
                margin-bottom: 0;
            }

            .checkbox-wrapper {
                padding-left: 1.25rem;
            }

            .buttons {
                .login {
                    margin-left: 20px;
                }
            }

        }
    }

    .login{

        position: relative;
        display: inline-block;
        margin: 0 auto;

        .form{
            display: block;
            position: relative;
            width: 500px;
            z-index: unset;

            .title {
                h1 {
                    text-align: center;
                }
            }

            .form-group {
                .show-password {
                    float: right;
                    margin: -26px 15px 0 5px;
                    cursor: pointer;
                }
    
                .error {
                    font-size: small;
                    color: rgb(200, 30, 30);
                }
            }

            .input_label{
                margin-bottom: 0;
            }

            .checkbox-wrapper {
                padding-left: 1.25rem;
            }

            .buttons {
                .register {
                    margin-left: 20px;
                }
            }
        }
    }
}

.content-simple {
    margin-top: 100px;
}

.design-wight {
    background-color: white !important;
    color: black !important;
}

.design-light {
    background-color: whitesmoke!important;
    color: $black !important;
}

.design-dark {
    background-color: $themeDarkBackground !important;
    color: $themeDarkColor !important;

    .content {
        .home {
            .welcome {
                color: $themeDarkColor;
            }
            .info {
                color: $themeDarkColor;
            }
            .sponsors {
                .thanks {
                    color: $themeDarkColor;
                }
            }
        }
    }
}

.design-dark {
    background-color: black !important;
    color: $themeDarkColor !important;

    .content {
        .home {
            .welcome {
                color: $themeDarkColor;
            }
            .info {
                color: $themeDarkColor;
            }
            .sponsors {
                .thanks {
                    color: $themeDarkColor;
                }
            }
        }
    }
}