.cookies {
    background-color: $control_color;
    z-index: 12345;
    width: 100%;
    display: none;

    .cookiestext {
        z-index: 12345;
        padding: 20px;
        border-bottom: 1px solid grey;

        * {
            color: whitesmoke;
            margin: 0;
        }

        button {
            float: right;
            min-width: 120px;
            background-color: $main_color;
            border: none;
        }
    }
}

.cookiesvisible {
    display: block
}