.footer {
    background-color: $control_color;
    width: 100%;
    position: relative;
    bottom: 0;
    display: inline-grid;

    .footercontent {
        margin: 18px 40px;

        .footerlinks {
            float: left;

            .footerlink {
                text-decoration: none;
                color: whitesmoke;
                margin: 10px 20px
            }
        }

        .goup{
            color: whitesmoke;
            text-decoration: none;
            float: right;
            cursor: pointer;
        }
    }
}