$menu_color: rgb(50, 50, 50);

.header {

    .headerlinks{
        
        > * {
            display: inline-block;
        }

        .classlinks {

            a {
                padding: 1.25em 0;
                color: white;
                text-decoration: none;
                font-size: 16px;
                margin-right: 35px;
            }
        }

        .menu {
            cursor: pointer;
            .menuheader{
                padding: 1.25em;
            }
            .menuheader::before {
                height: 100%;
                width: 100%;
                color: whitesmoke;
                text-decoration: none;
                font-size: 16px;
            }
            .menucontent {
                overflow-y: auto;
                display: none;
                position: absolute;
                z-index: 21;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                right: 0;
                min-width: 275px;
                background-color: $menu_color;
                cursor: default;
                .menupart {
                    .menubutton {
                        padding: 15px;
                        display: block;
                        cursor: pointer;
                        text-decoration: none;
                        color: white;
                        width: 100%;
                        height: 55px;
                        .menu-icon {
                            width: 25px;
                            margin-right: 7px;
                        }
                    }
                    .menubutton:hover {
                        background-color: $main_color;
                    }
                    .switch-button {
                        .switch-header {
                            @extend .menubutton;
                        }
                        .switch-content {
                            height: 0;
                            overflow: hidden;
                            margin-left: 30px;
                            border-left: 1px solid grey;
                            padding-left: 15px;
                            .switch-content-button {
                                @extend .menubutton;
                            }
                            .switch-content-button:hover {
                                background-color: inherit;
                                color: $main_color;
                            }
                        }
                    }
                    .switch-button:hover {
                        .switch-header {
                            background-color: $main_color;
                        }
                    }
                }
                .menupart:not(:last-child){
                    border-bottom: 1px solid lightgrey;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .menu:hover{
            background-color: $menu_color;
            .menuheader{
                color: $main_color;
            }
            .menucontent{
                display: block;
            }
        }
    }
}