{% extends "site/base-simple.html.twig" %}

{% block content %}
    <div class="sponsors">
        <h1 class="mb-4">Sponsoren:</h1>
        <div>
            {% for sponsor in sponsors %}
                <a target="_blank" rel="noopener noreferrer" href="{{ sponsor.website }}">
                    <img src="{{ asset(sponsor.image) }}" />
                </a>
            {% else %}
                Keine Sponsoren bis jetzt!
            {% endfor %}
        </div>
    </div>
{% endblock %}