$animation_duration: 0.4s;

.content{
    .videos{
        .classname{
            margin: 0 0 50px;
            text-align: center;

            h1{
                font-size: 50px;
                color: #333;
                margin: 0 0 10px;
            }

            a{
                text-decoration: none;
                color: grey;
                font-size: 20px;

                i{
                    font-size: 15px;
                }
            }
        }

        .chapters {
            display: block;

            .chapter {
                padding: 0;
                display: block;
                
                .chapterheader {
                    padding: 7px;

                    &:hover{
                        background-color: lightgray;
                    }

                    .chaptertitle{
                        margin: 0;
                        display: inline;
                        font-size: 30px;
                    }

                    i{
                        float: right;
                        font-size: 31px;
                        transition: $animation_duration;
                    }

                    .active{
                        transform: rotate(180deg);
                    }
                }
                
                .chaptercontent {
                    border-left: 1px solid lightgrey;
                    padding: 0 25px;
                    margin-left: 15px;
                    height: auto;
                    overflow: hidden;
                    transition: ease-out $animation_duration;
                    display: none; 

                    .nocontent {
                        margin-bottom: 40px;
                        font-style: italic;
                        color: darkgray;
                    }

                    .video {
                        margin-bottom: 40px;

                        .videotitle {
                            color: dimgrey;
                            padding: 8px 0;
                        }

                        video {
                            padding: 0;
                            border: 1px solid dimgrey;
                            width: 100%;
                            max-width: 800px
                        }
                    }
                }
            }
        }        
    }
}