.content {
    .login{

        position: relative;
        display: inline-block;
        margin: 0 auto;

        .form{
            display: block;
            position: relative;
            width: 500px;
            z-index: unset;

            .title {
                h1 {
                    text-align: center;
                }
            }

            .form-group {
                .show-password {
                    float: right;
                    margin: -26px 15px 0 5px;
                    cursor: pointer;
                }
    
                .error {
                    font-size: small;
                    color: rgb(200, 30, 30);
                }
            }

            .input_label{
                margin-bottom: 0;
            }

            .checkbox-wrapper {
                padding-left: 1.25rem;
            }

            .buttons {
                .register {
                    margin-left: 20px;
                }
            }
        }
    }
}