.content {
    .login{

        position: relative;
        display: inline-block;
        margin: 0 auto;

        .form{
            display: block;
            position: relative;
            width: 500px;
            z-index: unset;
        }
    }
}