@import "../colors.scss";

.content {
    .register {

        position: relative;
        display: inline-block;
        margin: 0 auto;

        .form{
            display: block;
            position: relative;
            width: 500px;
            z-index: unset;
            
            .title {
                h1 {
                    text-align: center;
                }
            }

            .group {
                margin: 20px 0;

                .form-group {

                    .show-password {
                        float: right;
                        margin-right: 5px;
                    }

                    .error {
                        font-size: small;
                        color: rgb(200, 30, 30);
                    }
                }

            }

            .input_label{
                margin-bottom: 0;
            }

        }
    }
}