Stellen sie ihr MyMathematik Passwort wieder her!
<br style="margin-bottom: 3px;">
<a href="{{ url }}">
    <button>
        Passwort wiederherstellen!
    </button>
</a>
<br style="margin-bottom: 3px;">
Sollte der obenstehende Knopf nicht funktionieren, benutze bitte folgenden Link:
<a href="{{ url }}">
    {{ url }}
</a>