.post {
    .main {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 100%;
        .title {
            padding: 15px 20px 5px 20px;
    
            h1 {
                margin: 0;
            }
        }
        .text {
            padding: 0px 20px 15px 20px;
        }
    }
    .info {
        color: grey;
        font-size: small;
    }
    .answers {
        margin: 45px 0 20px 0;
        .answer {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            width: 100%;
            padding: 15px 20px;
        }
    }
    .createanswer {
        display: none;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 100%;
        padding: 15px 20px;

        textarea {
            width: 100%;
            min-height: 200px;
        }
    }
}